/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}
